<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
                Take out
    </title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/landing.css">

    

 </head>
 <body>
  <section class="hero is-info is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu is-active">
                    <div class="navbar-end">
                      <span class="navbar-item">
                        <a class="button is-white is-outlined is-rounded" href="/">
                            <span>youtubeLink</span>
                        </a>
                    </span>
                    <span class="navbar-item">
                        <a class="button is-white is-outlined is-rounded" href="/upload">
                            <span>audioFile</span>
                        </a>
                    </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined is-rounded" href="#">
                                <span>Documentation</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined is-rounded" href="#">
                                <span>View Source</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

  
        
  {%if stems == "4" %}
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Music spleeter: Take Out
      </p>
         <div class="print">
             {% if True %}
              <img src = "{{thumb}}" , width="400", height="400">
             {% endif %}
            </br> 
             {{fileName}}
            <h3>Click buttons below to download seperated wav files!</h3>
            <form method="POST" action="/download">
              <input type="submit" class="button is-info is-rounded" name="source" value="vocals">
              <input type="submit" class="button is-info is-rounded" name="source" value="bass">
              <input type="submit" class="button is-info is-rounded" name="source" value="drums">
              <input type="submit" class="button is-info is-rounded" name="source" value="other">
            </form>
          </div>
      <br>
    </div>
  </div>
 {% elif stems == "2" %}
   <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Music spleeter: Take Out
      </p>
         <div class="print">
             {% if True %}
                <img src = "{{thumb}}" , width="400", height="400">
             {% endif %}
             </br>
             {{fileName}}
             <h3>Click buttons below to download seperated wav files!</h3>
             <form method="POST" action="/download">
              <input type="submit" class="button is-info is-rounded" name="source" value="vocals">
              <input type="submit" class="button is-info is-rounded" name="source" value="accompaniment">
            </form>
          </div>
      <br>
    </div>
  </div>
  {%elif stems == "5" %}
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Music spleeter: Take Out
        </p>
           <div class="print">
               {% if True %}
                <img src = "{{thumb}}" , width="400", height="400">
               {% endif %}
              </br>
               {{fileName}}
              <h3>Click buttons below to download seperated wav files!</h3>
              <form method="POST" action="/download">
                <input type="submit" class="button is-info is-rounded" name="source" value="vocals">
                <input type="submit" class="button is-info is-rounded" name="source" value="bass">
                <input type="submit" class="button is-info is-rounded" name="source" value="drums">
                <input type="submit" class="button is-info is-rounded" name="source" value="piano">
                <input type="submit" class="button is-info is-rounded" name="source" value="other">
              </form>
            </div>
        <br>
      </div>
    </div>
{% endif %}
                 
          
  </section>
  <script async="" type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
 




