<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
                Take out
    </title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/landing.css">

 </head>
 <body>
  <section class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="https://lh3.googleusercontent.com/sUllGytQYYxvB4ksDr5QuCsA-qr_1KIDu5KLcnw-KXOO4EsTXifgn-KVzyUejuXmJr1mv2hElOGCZsyT9yyACaI_u6KVyze_QRYt31ogPWn-2B8UfOQe1OThsj7kZgNY13BejftNlG3TuBoCxeplZ51PXgibZd4eWi6jhBIxZqEDh27WufqcQ_yfjBDB-8GpaMRVFZEF6-YxAhufamiAoV-zCCse9n9KNydo9mhNUXZTyGOBxR7UMq1lgS_i_EXefplqhQf892CfIbMRs1rBh7-9a4c6591glJOzKiWu_khhwCxfStCy02PYHTadowZxboub_IzT89MxPj6QRwv5zX_I7q1Ofnqz7mz85IpG6BN8th6gwY5OgDhxMLwUlbrDb8SsljBegnDvVW38o4pG9wnoDnalY2GRSg98OTR1yGtOmm9VkyuENsvh8mD3gv3IsBmrnRW-1qpG4HgSpvKJgWU01QmW2BqEWN4776Y49qeVYV7dknZiCyKswxdfMoOKW3K7_qSHhu__M3OGFTX43cpe9C5-4pxch2SyL_EaqQ6Up5QJXjXGBlCQUOBV4px9i9IJGBx31cbnskmhoikdA045gQxG-_em2l6vHYTDncyM8rbcn04UillzmuJuSl7PavFy7QqVtLkxKs607cSaGBPcGuht1gsj5ZiJAQyyKbz7ZdZu9CgXXtvGTew7kUfITrFFmcs51A_bXSvw4_S5NYo=w1284-h239-no?authuser=0" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu is-active">
                    <div class="navbar-end">
                      <span class="navbar-item">
                        <a class="button is-black is-outlined is-rounded" href="/">
                            <span>youtubeLink</span>
                        </a>
                    </span>
                    <span class="navbar-item">
                        <a class="button is-black is-outlined is-rounded" href="/upload">
                            <span>audioFile</span>
                        </a>
                    </span>
                        <span class="navbar-item">
                            <a class="button is-black is-outlined is-rounded" href="#">
                                <span>library</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-black is-outlined is-rounded" href="#">
                                <span>login</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

  
        
  {%if stems == "4" %}
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title" style="color: black">
        Music spleeter: Take Out
      </h1>
         <div class="print">
             {% if True %}
              <img src = "{{thumb}}" , width="400", height="400">
             {% endif %}
            </br> 
             {{fileName}}
            <h3>Click buttons below to download seperated wav files!</h3>
            <form method="POST" action="/download">
              <input type="submit" class="button is-black is-rounded" name="source" value="vocals">
              <input type="submit" class="button is-black is-rounded" name="source" value="bass">
              <input type="submit" class="button is-black is-rounded" name="source" value="drums">
              <input type="submit" class="button is-black is-rounded" name="source" value="other">
            </form>
          </div>
      <br>
    </div>
  </div>
 {% elif stems == "2" %}
   <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title" style="color: black">
        Music spleeter: Take Out
      </h1>
         <div class="print">
             {% if True %}
                <img src = "{{thumb}}" , width="400", height="400">
             {% endif %}
             </br>
             {{fileName}}
             <h3>Click buttons below to download seperated wav files!</h3>
             <form method="POST" action="/download">
              <input type="submit" class="button is-black is-rounded" name="source" value="vocals">
              <input type="submit" class="button is-black is-rounded" name="source" value="MR">
            </form>
          </div>
      <br>
    </div>
  </div>
  {%elif stems == "5" %}
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="color: black">
          Music spleeter: Take Out
        </h1>
           <div class="print">
               {% if True %}
                <img src = "{{thumb}}" , width="400", height="400">
               {% endif %}
              </br>
               {{fileName}}
              <h3>Click buttons below to download seperated wav files!</h3>
              <form method="POST" action="/download">
                <input type="submit" class="button is-black is-rounded" name="source" value="vocals">
                <input type="submit" class="button is-black is-rounded" name="source" value="bass">
                <input type="submit" class="button is-black is-rounded" name="source" value="drums">
                <input type="submit" class="button is-black is-rounded" name="source" value="piano">
                <input type="submit" class="button is-black is-rounded" name="source" value="other">
              </form>
            </div>
        <br>
      </div>
    </div>
{% endif %}
                 
          
  </section>
  <script async="" type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
 




