<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
                Take out
    </title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/landing.css">

 </head>
 <body>
  <section class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="https://lh3.googleusercontent.com/pw/ACtC-3dxlWHMCK7RKjTT_hVSnB5B1Y4xPVJoPvXXjvaNu-CEBwhtjkttCs38SV1HlMUvT3CvX83J0JentDf0QBwjBwpWD4vfr7tdmcKqO5RGx6JUR68ylTGvunkHzUyahosG5cUHL-eHK4MrgalWnnKQ0gol=w1284-h239-no?authuser=0" alt="logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu is-active">
        			<div class="navbar-end">
        				<span class="navbar-item">
        					<a class="button is-black is-outlined is-rounded" href="/">
        						<span>YoutubeLink</span>
        					</a>
        				</span>
        				<span class="navbar-item">
        					<a class="button is-black is-outlined is-rounded" href="/upload">
        						<span>AudioFile</span>
        					</a>
        				</span>
        				<!--<span class="navbar-item">
        					<a class="button is-black is-outlined is-rounded" href="/recommendation">
        						<span>recommendation</span>
        					</a>
        				</span>
        				<span class="navbar-item">
        					<a class="button is-black is-outlined is-rounded" href="/login">
        						<span>login</span>
        					</a>
        				</span>-->
        			</div>
        		</div>
            </div>
        </nav>
    </div>



  {%if stems == "4" %}
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title" style="color: black">
        Music Spleeter : Take Out
      </h1>
         <div class="print">
             {% if True %}
              <img src = "{{thumb}}" onerror="this.src='https://lh3.googleusercontent.com/6eJhBI1GJrzkURbopXkenr2ArPUeKYummFHfTtC2RqCR1SNQemzPvxnW1GOCQ-Afgm02mGZ4Mdzr9LMXml1XPQA8P8Nj9sxfr1Yh11ErhUkIs7u3PWohFvIqMrUyk8MWaVdLuWyuMXht1GNOf2vwlLX6NZlF0cSCAa4okOYjuw10cEI-E4Z4ucAtIqq_NXtGk6WoOfFOnjGMyunhK8XFiH05msjdJP-zFych6-Pqbg8FziWH5Rl_sf8l_uo9MMTII_tM9D6gJyDKhYZqLbeHuO7qz8kzaKTgOfYBfitoupPT-dHoEelyYUDQoHN25FvMkfSgGItQzzTsXYhJzwR-M7z21yqtrBRy3PP3xiGSUI1_aYPznEglg4o3Rxs7d3jBmYHmL2mI7lINUU4uNXKhovcJ_pYoWUu0zr8vbFmym0RWvUYXIy6QFkaLCx6E78636BJ-WRnkcfJS9b6GPOYcPmUB3-2LIIuC4sHzEkGys0SokIM7zIaTZUCJGSBbCFSFkHK3z287MiOeRX7ch2nOPLzMEeOXyfY9BsbCdAVzMcr6j_gpVRBdXFaax628T5Qz7-lcjdK2zDiF9AxvH8iRLmggSiPRdUSVqnGz3isTLYF6DGdGSsBCBc63ho6dn-9il36CZy2ejSlVGu9nFmhUFaHmR2ikj4qiPV3icW2wfinNvucJghTmvEKJi2WgOwhm_wKrhv9yCz_HAB4dszxJHoQ=s1080-no?authuser=0';" width="400" height="400" >
             {% endif %}
            </br>
             {{fileName}}
            <h3>Click buttons below to download seperated wav files!</h3>
            <form method="POST" action="/download">
              <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="vocals">
              <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="bass">
              <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="drums">
              <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="other">
              <br><br>
              <a class="button is-black is-outlined is-rounded" href="/recommendation">
                <span>recommendation</span>
              </a>
            </form>
          </div>
      <br>
    </div>
  </div>
 {% elif stems == "2" %}
   <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title" style="color: black">
        Music spleeter: Take Out
      </h1>
         <div class="print">
             {% if True %}
             <img src = "{{thumb}}" onerror="this.src='https://lh3.googleusercontent.com/6eJhBI1GJrzkURbopXkenr2ArPUeKYummFHfTtC2RqCR1SNQemzPvxnW1GOCQ-Afgm02mGZ4Mdzr9LMXml1XPQA8P8Nj9sxfr1Yh11ErhUkIs7u3PWohFvIqMrUyk8MWaVdLuWyuMXht1GNOf2vwlLX6NZlF0cSCAa4okOYjuw10cEI-E4Z4ucAtIqq_NXtGk6WoOfFOnjGMyunhK8XFiH05msjdJP-zFych6-Pqbg8FziWH5Rl_sf8l_uo9MMTII_tM9D6gJyDKhYZqLbeHuO7qz8kzaKTgOfYBfitoupPT-dHoEelyYUDQoHN25FvMkfSgGItQzzTsXYhJzwR-M7z21yqtrBRy3PP3xiGSUI1_aYPznEglg4o3Rxs7d3jBmYHmL2mI7lINUU4uNXKhovcJ_pYoWUu0zr8vbFmym0RWvUYXIy6QFkaLCx6E78636BJ-WRnkcfJS9b6GPOYcPmUB3-2LIIuC4sHzEkGys0SokIM7zIaTZUCJGSBbCFSFkHK3z287MiOeRX7ch2nOPLzMEeOXyfY9BsbCdAVzMcr6j_gpVRBdXFaax628T5Qz7-lcjdK2zDiF9AxvH8iRLmggSiPRdUSVqnGz3isTLYF6DGdGSsBCBc63ho6dn-9il36CZy2ejSlVGu9nFmhUFaHmR2ikj4qiPV3icW2wfinNvucJghTmvEKJi2WgOwhm_wKrhv9yCz_HAB4dszxJHoQ=s1080-no?authuser=0';" width="400" height="400" >
            {% endif %}
             </br>
             {{fileName}}
             <h3>Click buttons below to download seperated wav files!</h3>
             <form method="POST" action="/download">
              <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="vocals">
              <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="MR">
              <br><br>
              <a class="button is-black is-outlined is-rounded" href="/recommendation">
                <span>recommendation</span>
              </a>
            </form>
          </div>
      <br>
    </div>
  </div>
  {%elif stems == "5" %}
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="color: black">
          Music spleeter: Take Out
        </h1>
           <div class="print">
               {% if True %}
               <img src = "{{thumb}}" onerror="this.src='https://lh3.googleusercontent.com/6eJhBI1GJrzkURbopXkenr2ArPUeKYummFHfTtC2RqCR1SNQemzPvxnW1GOCQ-Afgm02mGZ4Mdzr9LMXml1XPQA8P8Nj9sxfr1Yh11ErhUkIs7u3PWohFvIqMrUyk8MWaVdLuWyuMXht1GNOf2vwlLX6NZlF0cSCAa4okOYjuw10cEI-E4Z4ucAtIqq_NXtGk6WoOfFOnjGMyunhK8XFiH05msjdJP-zFych6-Pqbg8FziWH5Rl_sf8l_uo9MMTII_tM9D6gJyDKhYZqLbeHuO7qz8kzaKTgOfYBfitoupPT-dHoEelyYUDQoHN25FvMkfSgGItQzzTsXYhJzwR-M7z21yqtrBRy3PP3xiGSUI1_aYPznEglg4o3Rxs7d3jBmYHmL2mI7lINUU4uNXKhovcJ_pYoWUu0zr8vbFmym0RWvUYXIy6QFkaLCx6E78636BJ-WRnkcfJS9b6GPOYcPmUB3-2LIIuC4sHzEkGys0SokIM7zIaTZUCJGSBbCFSFkHK3z287MiOeRX7ch2nOPLzMEeOXyfY9BsbCdAVzMcr6j_gpVRBdXFaax628T5Qz7-lcjdK2zDiF9AxvH8iRLmggSiPRdUSVqnGz3isTLYF6DGdGSsBCBc63ho6dn-9il36CZy2ejSlVGu9nFmhUFaHmR2ikj4qiPV3icW2wfinNvucJghTmvEKJi2WgOwhm_wKrhv9yCz_HAB4dszxJHoQ=s1080-no?authuser=0';" width="400" height="400" >
              {% endif %}
              </br>
               {{fileName}}
              <h3>Click buttons below to download seperated wav files!</h3>
              <form method="POST" action="/download">
                <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="vocals">
                <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="bass">
                <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="drums">
                <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="piano">
                <input type="submit" class="button is-black is-outlined is-rounded" name="source" value="other">
                <br><br>
                <a class="button is-black is-outlined is-rounded" href="/recommendation">
                  <span>recommendation</span>
                </a>
              </form>
            </div>
        <br>
      </div>
    </div>
{% endif %}

  </section>
  <script async="" type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
