<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css/cards.css">
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://lh3.googleusercontent.com/sUllGytQYYxvB4ksDr5QuCsA-qr_1KIDu5KLcnw-KXOO4EsTXifgn-KVzyUejuXmJr1mv2hElOGCZsyT9yyACaI_u6KVyze_QRYt31ogPWn-2B8UfOQe1OThsj7kZgNY13BejftNlG3TuBoCxeplZ51PXgibZd4eWi6jhBIxZqEDh27WufqcQ_yfjBDB-8GpaMRVFZEF6-YxAhufamiAoV-zCCse9n9KNydo9mhNUXZTyGOBxR7UMq1lgS_i_EXefplqhQf892CfIbMRs1rBh7-9a4c6591glJOzKiWu_khhwCxfStCy02PYHTadowZxboub_IzT89MxPj6QRwv5zX_I7q1Ofnqz7mz85IpG6BN8th6gwY5OgDhxMLwUlbrDb8SsljBegnDvVW38o4pG9wnoDnalY2GRSg98OTR1yGtOmm9VkyuENsvh8mD3gv3IsBmrnRW-1qpG4HgSpvKJgWU01QmW2BqEWN4776Y49qeVYV7dknZiCyKswxdfMoOKW3K7_qSHhu__M3OGFTX43cpe9C5-4pxch2SyL_EaqQ6Up5QJXjXGBlCQUOBV4px9i9IJGBx31cbnskmhoikdA045gQxG-_em2l6vHYTDncyM8rbcn04UillzmuJuSl7PavFy7QqVtLkxKs607cSaGBPcGuht1gsj5ZiJAQyyKbz7ZdZu9CgXXtvGTew7kUfITrFFmcs51A_bXSvw4_S5NYo=w1284-h239-no?authuser=0" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu is-active">
			<div class="navbar-end">
				<span class="navbar-item">
					<a class="button is-black is-outlined is-rounded" href="/">
						<span>youtubeLink</span>
					</a>
				</span>
				<span class="navbar-item">
					<a class="button is-black is-outlined is-rounded" href="/upload">
						<span>audioFile</span>
					</a>
				</span>
				<span class="navbar-item">
					<a class="button is-black is-outlined is-rounded" href="#">
						<span>library</span>
					</a>
				</span>
				<span class="navbar-item">
					<a class="button is-black is-outlined is-rounded" href="#">
						<span>login</span>
					</a>
				</span>
			</div>
		</div>
      </div>
    </nav>
    <!-- END NAV -->

    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: black">Library</h1>
			<br>
          </div>
        </div>
		<div class="box">

		  <div class="tile is-ancestor">
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title">Title</p>
				<p class="subtitle">Artist</p>
				<figure class="image is-square">
					<img src="17232.jpg">
				</figure>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title">Title</p>
				<p class="subtitle">Artist</p>
				<figure class="image is-square">
					<img src="24028.jpg">
				</figure>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title">Title</p>
				<p class="subtitle">Artist</p>
				<figure class="image is-square">
					<img src="369834.jpg">
				</figure>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title">Title</p>
				<p class="subtitle">Artist</p>
				<figure class="image is-square">
					<img src="469912.jpg">
				</figure>
				</article>
			</div>
		</div>
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title">Title</p>
				<p class="subtitle">Artist</p>
				<figure class="image is-square">
					<img src="867317.jpg">
				</figure>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title">Title</p>
				<p class="subtitle">Artist</p>
				<figure class="image is-square">
					<img src="971212.jpg">
				</figure>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title">Title</p>
				<p class="subtitle">Artist</p>
				<figure class="image is-square">
					<img src="20044575.jpg">
				</figure>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title">Title</p>
				<p class="subtitle">Artist</p>
				<figure class="image is-square">
					<img src="20106780.jpg">
				</figure>
				</article>
			</div>
		</div>



		</div>
      </div>
    </div>
  </body>

</html>
