<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="takeout_logo_main.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu is-active">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-black is-outlined is-rounded" href="#">
                                    <span>youtubeLink</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-black is-outlined is-rounded" href="#">
                                    <span>audioFile</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-black is-outlined is-rounded" href="#">
                                    <span>library</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                              <a class="button is-black is-outlined is-rounded" href="#">
                                  <span>signup</span>
                              </a>
                          </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                        <div class="box">
                    <h3 class="title has-text-black">Login</h3>
                        
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
                            </div>
                            <button class="button is-block is-black is-large is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                        <hr>
                        <p class="has-text-grey">
                            <a href="../">Sign Up</a> &nbsp;·&nbsp;
                            <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                            <a href="../">Need Help?</a>
                        </p>
                    
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>