<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Take out
    </title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/landing.css">


</head>
<body>
<section class="hero is-info is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu is-active">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-white is-outlined is-rounded" href="/">
                                <span>youtubeLink</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined is-rounded" href="/upload">
                                <span>audioFile</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined is-rounded" href="#">
                                <span>Documentation</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined is-rounded" href="#">
                                <span>View Source</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    Music spleeter: Take Out
                </h1>

                <form method="POST" action="/getLink">
                    <h3 class="subtitle">
                        paste youtube link of music you want to split
                    </h3>
                    <div class="box">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input class="input is-rounded" type="text " placeholder="Enter your link" name="link">
                            </p>
                            <p class="select is-rounded">
                                <select name="stems">
                                    <option value="2">2stem</option>
                                    <option value="4" selected="selected">4stem</option>
                                    <option value="5">5stem</option>
                                </select>
                            </p>
                            <p class="control">
                                <script>
                                    function toLoading() {
                                        document.getElementById("order").className = "button is-info is-loading is-rounded";
                                        document.getElementById("proBar").innerHTML = "<progress class='progress is-medium is-info' max='100'>60%</progress>"
                                    }
                                </script>
                                <button id="order" class="button is-info is-rounded" onclick="toLoading()">
                                    ORDER!
                                </button>
                            </p>
                        </div>
                        <div id="proBar">
                            <!-- <progress class="progress is-medium is-info" max="100">60%</progress> -->
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>
</body>
</html>
 




