<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommendation</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css/cards.css">
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://lh3.googleusercontent.com/pw/ACtC-3dxlWHMCK7RKjTT_hVSnB5B1Y4xPVJoPvXXjvaNu-CEBwhtjkttCs38SV1HlMUvT3CvX83J0JentDf0QBwjBwpWD4vfr7tdmcKqO5RGx6JUR68ylTGvunkHzUyahosG5cUHL-eHK4MrgalWnnKQ0gol=w1284-h239-no?authuser=0" alt="logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu is-active">
			<div class="navbar-end">
				<span class="navbar-item">
					<a class="button is-black is-outlined is-rounded" href="/">
						<span>youtubeLink</span>
					</a>
				</span>
				<span class="navbar-item">
					<a class="button is-black is-outlined is-rounded" href="/upload">
						<span>audioFile</span>
					</a>
				</span>
				<!-- <span class="navbar-item">
					<a class="button is-black is-outlined is-rounded" href="/recommendation">
						<span>recommendation</span>
					</a>
				</span>
				<span class="navbar-item">
					<a class="button is-black is-outlined is-rounded" href="/login">
						<span>login</span>
					</a>
				</span> -->
			</div>
		</div>
      </div>
    </nav>
    <!-- END NAV -->

<div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: black">Recommendation</h1>
			<br>
          </div>
        </div>

        <h1 class="title is -2">
          Drum Recommendation
        </h1>
		<div class="box">
		  <div class="tile is-ancestor">

      {% for i in range(5) %}
			<div class="tile is-parent">
				<article class="tile is-child box">
				<p class="title is-5">{{reco[0][i].split('-')[0]}} &nbsp;</p>
				<p class="subtitle is-6">{{reco[0][i].split('-')[1]}} &nbsp;</p>
        <figure class="thumbnail-wrappe">
          <img src="{{thumb_urls[0][i]}}" alt ="" height="100" width="100">
        </figure>
        <i class="fas fa-caret-right fa-xs icon-padding-right"></i>
              <a href="{{video_urls[0][i]}}">YoutubeLink</a>
				</article>
			</div>
      {% endfor %}
		
		</div>
</div>
<div class="container">
      <h1 class="title is -2">
        Base Recommendation
      </h1>
    <div class="box">
      <div class="tile is-ancestor">
        {% for i in range(5) %}
			  <div class="tile is-parent">
				  <article class="tile is-child box">
				    <p class="title is-5">{{reco[1][i].split('-')[0]}} &nbsp;</p>
				    <p class="subtitle is-6">{{reco[1][i].split('-')[1]}} &nbsp;</p>
            <figure class="thumbnail-wrappe">
              <img src="{{thumb_urls[1][i]}}" alt ="" height="100" width="100">
            </figure>
            <i class="fas fa-caret-right fa-xs icon-padding-right"></i>
              <a href="{{video_urls[1][i]}}">YoutubeLink</a>
				  </article>
			  </div>
        {% endfor %}


      </div>
  </div>
</div>

      <div class="container">
            <h1 class="title is -2">
              Piano Recommendation
            </h1>
      <div class="box">
          <div class="tile is-ancestor">
            {% for i in range(5) %}
			      <div class="tile is-parent">
				    <article class="tile is-child box">
				      <p class="title is-5">{{reco[2][i].split('-')[0]}} &nbsp;</p>
				      <p class="subtitle is-6">{{reco[2][i].split('-')[1]}} &nbsp;</p>
              <figure class="thumbnail-wrappe">
                <img src="{{thumb_urls[2][i]}}" alt ="" height="100" width="100">
              </figure>
              <i class="fas fa-caret-right fa-xs icon-padding-right"></i>
                <a href="{{video_urls[2][i]}}">YoutubeLink</a>
				    </article>
			      </div>
            {% endfor %}

          </div>
        </div>
      </div>

       <div class="container">
                  <h1 class="title is -2">
                    Other Recommendation
                  </h1>
            <div class="box">
                <div class="tile is-ancestor">
                  {% for i in range(5) %}
                  <div class="tile is-parent">
                  <article class="tile is-child box">
                    <p class="title is-5">{{reco[3][i].split('-')[0]}} &nbsp;</p>
                    <p class="subtitle is-6">{{reco[3][i].split('-')[1]}} &nbsp;</p>
                    <figure class="thumbnail-wrappe">
                      <img src="{{thumb_urls[3][i]}}" alt ="" height="100" width="100">
                    </figure>
                    <i class="fas fa-caret-right fa-xs icon-padding-right"></i>
                      <a href="{{video_urls[3][i]}}">YoutubeLink</a>
                  </article>
                  </div>
                    {% endfor %}
              
                </div>
              </div>
            </div>
        </div>   
</div>
</body>
</html>
